OPENAI_API_KEY=sk-proj-Kb7F2uu0jSkVHVgCGC_r6qbvLXXN8_tQ5pe2JbVcaZ1iXYqdUUzFuPpSlUJ868Q4EOp
XURV-xiT3BlbkFJPxqqVU36X4i7-smB_bT_0C4YsaDXEgJH1mTBEUFJVb5fuAXknN389lYCkk
Mk899CRwdj9Ci9YA
MAX_FILE_SIZE=25000000
AUDIO_FORMAT=mp3
